<header class="app-header container-fluid">
  <div class="row">
    <h1 class="col-6 col-sm-8">Tunes App</h1>
    <%= render current_user ? 'partials/logout_button' : 'partials/sign_in_up_buttons' %>
  </div>
</header>