<div class="row col-6 col-sm-4 pull-right">
  <a class="btn btn-primary col-5" href="/session/new">Sign In</a>
  <div class="col-2"></div>
  <a class="btn btn-primary col-5" href="/users/new">Sign Up</a>
</div>